
@media (min-width: 1000px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'century gothic';
    text-decoration: none;
    list-style: none;
    
}
.owl-dots{
   
    margin-left: 48%;
    position: absolute;
    top: 90%;

    float: left;
}

/* inicio DO MEU cabeçalho */ 
        header{
            
            border-bottom: rgba(255,116,0,1) 2px solid;
            width: 100%;
            height: 10vh;
            background-color: rgb(255, 255, 255);
        }
        
        #header img{
            width: 120px;
        
        }
        #nav ul{
            display: none;
           justify-content: center;

            margin-right: 1vw;
            margin-top: 2rem;
            
        }

       .menu-header .menu-cabecalho{
        display: flex;
        margin-left:50vw;
       
       }

       .menu-header .menu-cabecalho li{
            color: #212121;
           margin-left: 20px;
       }

       .menu-header .menu-cabecalho a{
        color: #212121;
        font-weight: 700;
       }
        
        #li a{   
            
            color: rgb(252, 101, 0);
            text-decoration: none;
            margin-left: 35px;
        }
        
        li a:hover{
            color: rgb(248, 134, 58);
        }
        
/* final DO MEU cabeçalho */ 

/* MEU MAIN */

.divisao-imagem{
    width: 400px;
    height:50px;
    display: flex;
   margin: auto;
    justify-content: center;
}
.logo-titulo{
   
    margin: 10px 40%;
    display: flex;
    width: 20%;
}

.sobre-impera-brindes p{
 margin: 5rem;
    text-align: center;
    font-weight: 400;
    color: #757575;
    font-size: 28px;
    line-height: 35px;
}

/* FINAL MEU MAIN */





/* MEU section personalize -- CONTATO */
.personalize-contato-mobile{
    display: none;
}

.personalize-contato{
    background-color: #212121;
    height: 950px;
    width: 100%;
}

.imagem-fundo img{
display: flex;
width: 50rem;
margin-top: -25%;
margin-left: 40%;
}
.personalize-contato h2{
    font-size: 60px;
    line-height: 28px;
    margin-left: 10%;
    padding-top: 80px;
    text-align: left;
    color: #ffffff;
    text-shadow: 3px 0px 10px #ffa24a, 0 0 5px #cc5303;
}



.divisao-imagem-personalize-contato{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    margin-left: 5%;    
}
 
.caixa-contato img{
    width: 300px;
    margin: 0px 8%;
    
    margin-top: 10px;
}

.caixa-contato p{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    margin-top: 50px;
}
.personalize-contato-redes-sociais {
   
    margin: 50px 0px 25px;
    font-size: 30px;
    text-align:center;
}

.icons-contato-social {
    display: flex;
    font-size: 35px;
    justify-content: left;
    margin-left: 5%;  
  
    width: auto;
}

.icons-contato-social i{
    margin: 50px 50px;
}

/* MEU section personalize -- CONTATO */

/* MEU SECTION CANECAS -- Canecas-- */
.selection-product{
    display: flex;
    gap: 10vw;
}
section .todos h2{
    font-size: 60px;
    color: #212121; 
    margin: auto;
    padding-top: 80px;
}
.selection-product h3{
    margin-top: 10vh;
        color: #212121;
        font-size:2em;
        margin-bottom: 20px;
        font-weight: bold;
    
}
.selection-product strong{
    color: #212121;
    
} 
.selection-product p{
    color: #8d8d8d;
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 3;
    font-weight: 500;

}
article{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
.product-images{
    float: left;
    width: 50%;
    margin: 10px 25%;
    padding: 30px;
    box-shadow: 0 0 5px 2px #ccc;
}
.cover img{
    margin-top: 22px;
    height: 600px;
    width: 600px;
}

.thumbs{
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    margin-top: 60px;
    padding: 2.5px;
    
}

.thumbs img{
    float: left;
    width: 70px;
    height: 70px;
    padding: 2.5px;
    cursor: pointer;
    
}
.thumbs img:hover,
.thumbs img.active{
    background: #99ccff;
}



/* MEU SECTION CANECAS -- Canecas-- */



/*MInha section produçoes*/
.conteiner{
    display: flex;
    flex-direction: column;
    
    margin: auto;
}
.todos h3{
    text-align: center;
    color: #212121;
}

.ultimas-producoes{
    display: none;
}
.conteiner h2{
    font-size: 60px;
    text-align: center;
    color: #212121;
}

.conteiner p{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #757575;
}


.todos-nossas
{   
    overflow: hidden;
    width: 100%;
    height: 1500px;
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    justify-content: center;
}
.todos{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-produto1{
    display: flex;
    justify-content: center;
    flex-direction: row;
   height: 35vh;
   width: 100%;
}

.caixa-produto img{
    margin: auto;
    width: 200px;
    height: 200px;
}
.caixa-produto1 img{
    
    margin: auto;
    width: 200px;
    height: 200px;
}

.caixa-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:50px 0px 0px 70px;

    width: 200px;
    height: 200px;
}
.caixa-produto1{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px 0px 0px 70px;  
    width: 200px;
    height: 200px;
}



.btn-vertodos {
    cursor: pointer;
    text-align: center;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    border-style: none;
  margin: 1rem 44%;
    font-size: 18px;
    
    background-color: rgb(56, 56, 56);
}

.btn-vertodos:hover{
    transition: all .3s ease;
    color: #212121;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%); 
}

.btn-produtos{
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 50px;
    border-style: none;
    background-color: rgb(56, 56, 56);
}

.btn-produtos-nossas{
    
    text-align: center;
    width: 150px;
    height: 30px;
    border-style: none;
    background-color: rgb(56, 56, 56);
}

.outros-produtos{
    margin-top: 350px;
}


.outros-produtos-mobile{
    display: none;
}

.outros-produtos-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
   
}


.caixa-produto-desktop{
    width: 250px;
   
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.btn-produtos-desktop{
    cursor: pointer;
    text-align: center;
    width: 250px;
    height: 50px;
    border-style: none;
    background-color: rgb(56, 56, 56);
}
/*MInha section produçoes*/




/* INICIO DO MEU FOOTER */ 

.footer-mobile{
    display:none;
    height: 26vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%);
}

footer{

    height: 26vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%);
}
.logo-footer{
    padding:50px;
    opacity: 0.80;
    width: 20%;
 
}

footer img{
    display: flex;
    justify-content: center;
    width: 15vw;

}

footer h2 {
    
    margin-right: 20%;
    font-size: 30px;
    text-align: right;
    color: black;
}

footer p{
    
    padding-top: 22px;
    margin-right: 16%;
    text-align: right;
    color: black;
}

footer i{
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(97, 47, 47);
}

footer a{
   
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.icon-desktop {
   text-align: right;
   margin-right: 23%;
   margin-top: -150px;
}

.local-desktop{
    font-size: 18px;
    
}
}