*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'century gothic';
    text-decoration: none;
    list-style: none;
    
}

/* inicio DO MEU cabeçalho */ 
@media screen and (max-width: 750px){
header{
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
}

.img-logo{
    margin: 10px;
    width: 60px;

}
nav ul{
    
   justify-content: right;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    margin-top: -2rem;
    
}

li a{   
    color: rgb(252, 101, 0);
    text-decoration: none;
    margin-left: 35px;
}

li a:hover{
    color: rgb(248, 134, 58);
}

/* final DO MEU cabeçalho */ 






/* INICIO DO MEU FOOTER */ 

footer{
    
    display: flex;
    height: 30vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%);
}

.logo-footer{
    display: none;
    opacity: 0.80;
    width: 30%;
 
}

.logo-footer img{
    
    display: flex;
    justify-content: center;
    width: 15vw;
    margin: 8% 25%;
}

.contato-rodape{
    text-align: left;
    margin-left: 1rem;
    width: 70%;
}

.texto-rodepe{
    margin-top: 3rem;
}

footer h2 {
    color: black;
}

footer p{
    color: black;
}

footer i{
    color: rgb(97, 47, 47);
    margin-right: 1rem;
}

footer a{
    text-decoration: none;
    color: black;
}

.contato-a-rodape{
    display: flex;
    flex-direction: column;
}

.icon-mobile{
    margin-top: -15px;
}

.local{
    font-size: 15px;
}
}
