*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'century gothic';
    text-decoration: none;
    list-style: none;
    
}
.owl-dots{
   
    margin-left: 40%;
    position: absolute;
    top: 100px;

    float: left;
}


/*MENU MOBILE*/
body,
ul {
  margin: 0px;
  padding: 0px;
}

logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
    header img{
        width: 150px; 
        margin-left: 100px;
    }

  #menu { 
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 1s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    color: #cc5303;
    margin-top: 0px;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    transition: all 3 ease;
  }
  #menu a {
     
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
      
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    color: #cc5303;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*MENU MOBILE*/

/* inicio DO MEU cabeçalho */ 
    @media screen and (max-width: 450px){
        header{border-bottom: rgba(255,116,0,1) 2px solid;
            width: 100%;
            height: 10vh;
            background-color: rgb(255, 255, 255);
        }
        
        .img-logo{
            margin: 10px;
            width: 60px;
        
        }
        nav ul{
            
           justify-content: center;
            display: flex;
            flex-direction: row;
            margin-right: 1vw;
            margin-top: -2rem;
            
        }
        
        li a{   
            color: rgb(252, 101, 0);
            text-decoration: none;
            margin-left: 35px;
        }
        
        li a:hover{
            color: rgb(248, 134, 58);
        }
        
/* final DO MEU cabeçalho */ 

/* MEU MAIN */

.divisao-imagem{
    display: flex;
   margin: auto;
    justify-content: center;
}
.sobre-impera-brindes{
    
    height: 50vh;
    
    
}
.logo-titulo{
   
    margin: 10px 30%;
    display: flex;
    width: 150px;
}

.sobre-impera-brindes p{
 
    padding: 0px 15px;
    text-align: center;
    margin: 0px 0 15px 0;
    font-weight: 700;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
/* FINAL MEU MAIN */


/* MEU section personalize */
.personalize{
    width: 100%;
    height: 430px;
    background:url(fundo-personalize.jpg);
}
.personalize h2{
    font-size: 40px;
    line-height: 65px;
    margin: 0px 0px 15px 0px;
    padding-top: 25px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 0px 10px #ffa24a, 0 0 5px #cc5303;
}

.personalize p{
    text-align: center;
    margin: 0px 15px 0px 15px;
}

.personalize .abrir-personalizado{
    text-align: center;
    background-color: #ff6a07;
    padding: 6px 15px;
    font-weight: bold;
    min-width: 140px;
    height: 40px;
    border: none;
    line-height: 28px;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 100px ;

}

/* MEU section personalize */



/*MInha section produçoes*/

.conteiner h2{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
    color: #212121;
}

.conteiner p{
    line-height: 25px;
    text-align: center;
    color: #757575;
}


.todos-nossas
{   
    overflow: hidden;
    width: 100%;
    height: 1500px;
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    justify-content: center;
}
.todos{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-produto1{
    margin: 30px 10px;
    display: flex;
    flex-direction: row;
  
   height: 24vh;
   width: 100%;
}

.caixa-produto img{
    width: 150px;
    height: 150px;
}
.caixa-produto1 img{
    width: 150px;
    height: 150px;
}

.caixa-produto{
    
    background-color: black;
    width: 150px;
    height: 150px;
}
.caixa-produto1{
   
    margin-left:70px;
    background-color: rgb(0, 86, 245);
    width: 150px;
    height: 150px;
}



.btn-vertodos {
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(56, 56, 56);
}

.btn-vertodos:hover{
    transition: all 3s ease;
    color: #212121;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%); 
}

.btn-produtos{
    text-align: center;
    width: 150px;
    height: 30px;
    border-style: none;
    background-color: rgb(56, 56, 56);
}

.btn-produtos-nossas{
    text-align: center;
    width: 150px;
    height: 30px;
    border-style: none;
    background-color: rgb(56, 56, 56);
}
/*MInha section produçoes*/




/* INICIO DO MEU FOOTER */ 

footer{
    
    display: flex;
    height: 26vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%);
}

.logo-footer{
    display: none;
    opacity: 0.80;
    width: 30%;
 
}

.logo-footer img{
    
    display: flex;
    justify-content: center;
    width: 15vw;
    margin: 8% 25%;
}

.contato-rodape{
    text-align: left;
    margin-left: 1rem;
    width: 70%;
}

.texto-rodepe{
    margin-top: 3rem;
}

footer h2 {
    color: black;
}

footer p{
    color: black;
}

footer i{
    color: rgb(97, 47, 47);
    margin-right: 1rem;
}

footer a{
    text-decoration: none;
    color: black;
}

.contato-a-rodape{
    display: flex;
    flex-direction: column;
}

.icon-mobile{
    margin-top: -15px;
}

.local{
    font-size: 15px;
}

}
